<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devgrafix.requestbreakfast">

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- add the following metadata for version and database name -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="database.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="5" />
        <meta-data android:name="AA_MODELS" android:value="com.devgrafix.requestbreakfast.model" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.newPersonActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.newFoodActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.editPersonActivity"
            android:parentActivityName=".activities.listPresonsActivity" />
        <activity
            android:name=".activities.editFoodActivity"
            android:parentActivityName=".activities.ListFoodActivity" />
        <activity
            android:name=".activities.listPresonsActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <activity
            android:name=".activities.ListFoodActivity"
            android:parentActivityName=".activities.HomeActivity" />
        <activity android:name=".activities.BreakfastActivity"
            android:parentActivityName=".activities.HomeActivity" ></activity>
    </application>

</manifest>
